@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Japanese;
  src: url("/fonts/japanese.otf") format("opentype");
}

@font-face {
  font-family: secondary;
  src: url("/fonts/OctoberCompressedTamil.ttc") format("opentype");
}

.schedule-label {
  background: linear-gradient(
    89.49deg,
    rgba(244, 220, 0, 0) 0.44%,
    #f4dc00 53.61%,
    rgba(244, 220, 0, 0) 99.04%
  );
}

html,
body,
.wrapper {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

#headerBackgroundPrimary {
  transform: translateY(-38%) translateZ(-2px) scale(1.2);
  @apply min-w-full object-cover absolute top-full;
}

#headerForeground {
  transform: translateY(-60%) translateZ(-2px) scale(1.2);
  @apply min-w-full object-cover absolute top-full;
}

@media screen and (min-width: 768px) {
  #headerForeground {
    transform: translateY(-90%) translateZ(-2px) scale(1.2);
  }
  #headerBackgroundPrimary {
    transform: translateY(-44%) translateZ(-8px) scale(1.8);
  }
}

img {
  @apply select-none pointer-events-none;
}
